.top_bar {
  color: var(--white);
  height: 40px;
  background-color: var(--primary-color);
  align-items: center;
  padding-inline: .6rem;
  display: none;
}

.top_bar_content_container {
  flex-grow: 1;
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address_container,
.contact_details_container,
.phone_number_container,
.email_container {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.address,
.phone_number,
.email {
  font-size: 13.3px;
}

.contact_details_container {
  gap: 1rem;
}

@media only screen and (min-width: 570px) {
  .top_bar {display: flex;}
}
